.div_loader {
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 50%;
    z-index: 99;
    position: absolute;
}