$main-font: "Muli";

// Colors
$main-color: #1a8fff;
$secondary-color: #ffa50026;
$border-secondary-color: orange;
$text-color: #777;
$text-color-light: #ccc;
$border-color: #eee;
$bg-color: #f9f9f9;
$neutral-color: #fff;