.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga'; }

/* VARIABLES */
/* GENERAL */
* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: #777;
  background: #f9f9f9;
  position: relative; }

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid #eee;
  background: #fff; }

header #logo {
  font-size: 175%;
  text-align: center;
  color: #1a8fff;
  line-height: 1; }

header #logo .icon {
  padding-right: .25em; }

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em; }

/* GRID */
.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.row-middle {
  align-items: center; }

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.col-start {
  justify-content: flex-start;
  text-align: left; }

.col-center {
  justify-content: center;
  text-align: center;
  width: calc(100%/7);
  word-wrap: break-word; }

.col-end {
  justify-content: flex-end;
  text-align: right; }

/* Calendar */
.calendar {
  display: block;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  background: #fff;
  border: 1px solid #eee;
  overflow: hidden; }

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid #eee;
  padding: 10px; }

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out; }

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: #1a8fff; }

.calendar .header .icon:first-of-type {
  margin-left: 1em; }

.calendar .header .icon:last-of-type {
  margin-right: 1em; }

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: #ccc;
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid #eee; }

.calendar .body .cell {
  position: relative;
  height: 38em;
  border-right: 1px solid #eee;
  overflow: hidden;
  background: #fff;
  transition: 0.25s ease-out; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .calendar .body .cell {
      height: 29em; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .calendar .body .cell {
      height: 35em; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    .calendar .body .cell {
      height: 39em; } }
  @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .calendar .body .cell {
      height: 32em; } }

.calendar .body .cell:hover {
  background: #f9f9f9;
  transition: 0.5s ease-out; }

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1; }

.calendar .body .row {
  border-bottom: 1px solid #eee; }

.calendar .body .row:last-child {
  border-bottom: none; }

.calendar .body .cell:last-child {
  border-right: none; }

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700; }

.calendar .body .disabled {
  color: #ccc;
  pointer-events: none; }

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: #1a8fff;
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em; }

.calendar .body .cell:hover .bg, .calendar .body .selected .bg {
  opacity: 0.05;
  transition: .5s ease-in; }

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
  overflow-y: auto; }

.float-button {
  right: -15px;
  position: absolute;
  bottom: 25px;
  z-index: 9999; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .float-button {
      right: -50px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .float-button {
      right: -50px; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
    .float-button {
      right: -50px; } }
  @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .float-button {
      right: -50px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .div-dates {
    font-size: 10px;
    display: flex;
    margin-top: -12px;
    margin-left: -15px; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .div-dates {
    font-size: 13px;
    display: flex;
    margin-top: -12px; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .div-dates {
    font-size: 13px;
    display: flex;
    margin-top: -12px; } }

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .div-dates {
    font-size: 10px;
    display: flex;
    margin-top: -12px;
    margin-left: 5px; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .center-date {
    font-size: 10px;
    display: flex; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .center-date {
    font-size: 14px;
    display: flex; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .center-date {
    font-size: 14px;
    display: flex; } }

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .center-date {
    font-size: 14px;
    display: flex; } }

.arrows-btn {
  padding: 10px; }
